<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <link rel="icon" type="image/x-icon" href="static/img/favicon.ico">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/line-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/magnific-popup.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/swiper.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.filterizr.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/magnific-popup.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/swiper.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>

    <!-- loader -->
    <div class="loader">
        <div class="loading">
            <div class="spinner-grow aloader" role="status">
                <span class="sr-only"></span>
            </div>
        </div>
    </div>
    <!-- end loader -->

    <!-- navbar -->
    <div id="navbar" class="navbar navbar-expand-lg justify-content-center align-items-center">
        <div class="container">
            <a href="#" class="navbar-brand"><img src="static/img/logo.png" alt="HabituAll"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <i class="la la-bars"></i>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav nav">
                    <li class="nav-item"><a class="nav-link" href="#home">Início</a></li>
                    <li class="nav-item"><a class="nav-link" href="#about">Sobre</a></li>
                    <li class="nav-item"><a class="nav-link" href="#features">Recursos</a></li>
                    <li class="nav-item"><a class="nav-link" href="#pricing">Preços</a></li>
                    <li class="nav-item"><a class="nav-link" href="#contact">Contato</a></li>
                </ul>
            </div>

            <ul class="button-navbar">
                <li><button class="button">Junte-se Agora</button></li>
            </ul>
        </div>
    </div>
    <!-- end navbar -->

    <!-- intro -->
    <div id="home" class="intro">
        <div class="container">
            <div class="content">
                <div class="row align-items-center">
                    <div class="col-md">
                        <div class="content-text">
                            <span>Gerencie seus hábitos e rotina</span>
                            <h1>HabituAll: Seu assistente pessoal para uma vida saudável</h1>
                            <div class="entry">
                                <p>Com o HabituAll, você pode monitorar suas atividades diárias, acompanhar sua ingestão de água, gerenciar sua dieta e definir lembretes para suas tarefas. Nosso aplicativo também oferece recursos focados na saúde mental para garantir seu bem-estar completo.</p>
                                <button class="button">Comece Agora</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md">
                        <div class="content-video">
                            <video controls width="450" height="450">
                            <source src="static/video/intro.mp4" type="video/mp4">
        </video>
    </div>
</div>

                </div>
            </div>
        </div>
    </div>
    <!-- end intro -->

    <!-- about -->
    <div id="about" class="about">
        <div class="container">
            <h2>Sobre o HabituAll</h2>
            <div class="row g-5">
                <div class="col-md-7">
                    <div class="content-left">
                        <img src="static/img/about.png" alt="Sobre nós" class="smaller-image">
                    </div>
                </div>
                <div class="col-md">
                    <div class="content-right">
                        <p>O HabituAll é um aplicativo desenvolvido para ajudá-lo a manter uma rotina saudável e organizada. Com ele, você pode criar e monitorar rotinas fitness, gerenciar sua nutrição e acompanhar seu progresso ao longo do tempo. Nossa missão é fornecer um excelente atendimento aos nossos usuários, oferecendo uma ótima didática para facilitar seu uso.</p>
                        <button class="button">Saiba Mais</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end about -->

    <!-- features -->
    <div id="features" class="features">
        <div class="container">
            <h2>Recursos do HabituAll</h2>
            <div class="divider"></div>
            <div class="row g-5">
                <div class="col-md-4">
                    <div class="feature-item">
                        <h3>Rotinas Fitness</h3>
                        <p>Crie e acompanhe suas rotinas de exercícios de forma personalizada.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="feature-item">
                        <h3>Monitoramento</h3>
                        <p>Monitore seu progresso com relatórios detalhados e gráficos de desempenho.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="feature-item">
                        <h3>Nutrição</h3>
                        <p>Gerencie sua dieta e acompanhe sua ingestão de nutrientes.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end features -->

    <!-- pricing -->
    <div id="pricing" class="pricing">
        <div class="container">
            <div class="row g-5">
                <div class="col-md col-md-left">
                    <div class="content-left">
                        <h2>Escolha nossos Planos</h2>
                        <p>Oferecemos planos acessíveis para atender às suas necessidades.</p>
                    </div>
                </div>
                <div class="col-md">
                    <div class="content">
                        <h4>Mensal</h4>
                        <p>Plano mensal com todos os recursos incluídos.</p>
                        <ul>
                            <li><i class="la la-check-circle"></i> Acesso a todos os recursos</li>
                            <li><i class="la la-check-circle"></i> Suporte prioritário</li>
                            <li><i class="la la-check-circle"></i> Relatórios detalhados</li>
                        </ul>
                        <h2>R$ 35</h2>
                        <button class="button">Escolha Agora</button>
                    </div>
                </div>
                <div class="col-md">
                    <div class="content">
                        <h4>Anual</h4>
                        <p>Plano anual com desconto e todos os recursos incluídos.</p>
                        <ul>
                            <li><i class="la la-check-circle"></i> Acesso a todos os recursos</li>
                            <li><i class="la la-check-circle"></i> Suporte prioritário</li>
                            <li><i class="la la-check-circle"></i> Relatórios detalhados</li>
                        </ul>
                        <h2>R$ 350</h2>
                        <button class="button">Escolha Agora</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end pricing -->

    <!-- contact -->
    <div id="contact" class="contact">
        <div class="container">
            <div class="content-map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d126742.5211294114!2d-38.60215592615985!3d-6.925967485935955!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x7a472d082d8edb7%3A0x1c5023bf5f28ade8!2sCajazeiras%2C%20PB%2C%2058900-000!5e0!3m2!1spt-BR!2sbr!4v1717780488166!5m2!1spt-BR!2sbr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
            <div class="row g-5">
                <div class="col-md col-sm-12">
                    <h2>Entre em Contato</h2>
                    <p>Estamos aqui para ajudá-lo. Entre em contato conosco para mais informações.</p>
                    <div class="row">
                        <div class="col">
                            <div class="icon"><i class="la la-phone"></i></div>
                            <div class="text">
                                <h5>Telefone</h5>
                                <span>+61 3 8376 6284 </span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="icon"><i class="la la-envelope"></i></div>
                            <div class="text">
                                <h5>Email</h5>
                                <span> contact@habituall.com </span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="icon"><i class="la la-university"></i></div>
                            <div class="text">
                                <h5>Endereço</h5>
                                <span>Rua Exemplo, 123, Cajazeiras, Paraíba</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md col-sm-12">
                    <div class="open">
                        <h3>Horários de Atendimento</h3>
                        <span>Segunda - Sábado: 08:00 - 18:00</span>
                        <h3>Domingo</h3>
                        <span>Fechado</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end contact -->

    <!-- footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md col-sm-6">
                    <ul>
                        <li><a href=""><i class="la la-facebook"></i></a></li>
                        <li><a href=""><i class="la la-twitter"></i></a></li>
                        <li><a href=""><i class="la la-instagram"></i></a></li>
                        <li><a href=""><i class="la la-youtube"></i></a></li>
                    </ul>
                </div>
                <div class="col-md col-sm-6">
                    <div class="cp">
                        <span> Copyright © Todos os Direitos Reservados </span>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- end footer -->

    <!-- script -->
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="js/jquery.filterizr.min.js"></script>
    <script src="js/magnific-popup.min.js"></script>
    <script src="js/swiper.min.js"></script>
    <script src="js/main.js"></script>
</body>
</html>
